@import uk.gov.hmrc.awrslookup._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._
@import search._
@import models._

@(searchForm : Form[models.Query], termHasNoResults: Option[String] = None, searchResult: Option[SearchResult] = None)(implicit request : Request[AnyContent], messages: Messages)

@noResults = {
    @termHasNoResults match {
        case Some(termWithNoResult) => {
            <p class="heading-medium">No results found for [@termWithNoResult]</p>
            <p>Check you have the correct details from the wholesaler and that you have entered them correctly</p>
            <div class="form-group">
                <div style="margin-top:20px">
                    <table>
                        <tbody><tr>
                            <td style="border-style:none; vertical-align:top"><img src="/public/images/icon-important.png"></td>
                            <th style="border-style:none">It is important that you only make purchases from approved wholesalers who are on the register. If you do trade with unapproved wholesalers you could face prosecution, be liable to a penalty, and have your alcohol stock seized. Find out more about <a href="https://www.gov.uk/government/publications/excise-notice-2002-alcohol-wholesaler-registration-scheme/excise-notice-2002-alcohol-wholesaler-registration-scheme#trade-buyers-obligations"> what to do if you find a wholesaler you’re dealing with isn’t on the register.</a>
                            </th></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            @searchDate()
        }
        case None => {}
    }
}

@multResults(results: List[AwrsEntry]) = {
    <p class="heading-medium">We found @{results.size} results</p>
    <div id = "search-results">
        @results.toString
    </div>
}

@results = {
    @searchResult match {
        case Some(SearchResult(results)) if results.size > 1 => { @multResults(results) }
        case _ => { @noResults }
    }
}

@headers = {
    @(termHasNoResults, searchResult)match {
        case (Some(_), _) | (_, Some(_)) => {}
        case _ => {
            <h1 class="heading-xlarge">Check if an alcohol wholesaler or producer is registered</h1>
            <p class="lede">Enter an Alcohol Wholesaler Registration Scheme number (AWRS URN) for example XXAW00000123456.</p>
        }
    }
}

@search_core(
    searchForm = searchForm,
    preFormContent = headers,
    postFormContent = results
)
