@import uk.gov.hmrc.awrslookup._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._

@(searchForm : Form[models.SearchField])(implicit request : Request[AnyContent], messages: Messages)

@h1 = {
    <h1 class="heading-xlarge">Check if an alcohol wholesaler or producer is registered</h1>
}

@ledge = {
    <p class="lede">Enter an Alcohol Wholesaler Registration Scheme number (AWRS URN) for example XXAW00000123456.</p>
}

@searchbar = {
    <div class="search">
        @awrsInputTypeText(
            field = searchForm("query"),
            parentForm = searchForm,
            maxLength = "100"
        )

        <div class="form-group">
            @awrsSubmitButton("Search")(id = "search", classAttr = None)
        </div>
    </div>
}

@actionRoute = @{controllers.routes.LookupController.show}

@views.html.main_template(title = Messages("awrs.lookup.search.page_title"), bodyClasses = None) {
    @errorSummaryTemplate(searchForm)
    <div class="grid">
        <div class="grid grid-2-3">
            @h1
            @ledge
            @form(action = actionRoute) {
                @searchbar
            }
        </div>
    </div>
}