@import uk.gov.hmrc.awrslookup._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._
@import models._
@import common._
@import search._
@import results._
@import uk.gov.hmrc.awrslookup.controllers.AwrsLanguageController
@import play.api.Application

@(searchForm : Form[models.Query], action: Call, searchTerm: Option[String] = None, searchResult: Option[SearchResult] = None)(implicit request : Request[AnyContent], messages: Messages, application: Application)

@clc = @{ Application.instanceCache[AwrsLanguageController].apply(application) }

@searchTitle = @{
    (searchTerm, searchResult) match {
        case (Some(_), (None | Some(SearchResult(Nil))))            => Messages("awrs.lookup.results.page_title_no_results")
        case (_ , (Some(SearchResult(list)))) if list.size > 1      => Messages("awrs.lookup.results.heading_multi_results", searchTerm.get)
        case _ => Messages("awrs.lookup.search.page_title")
    }
}

@resultCounter(size: Int) = {
    <p id="result-count">@Messages("awrs.lookup.results.results_found", size)</p>
}

@multiResults(results: List[AwrsEntry]) = {
    <h1 class="heading-medium" id="search-heading">@Messages("awrs.lookup.results.heading_multi_results", results.size, searchTerm.get)</h1>
    <div id = "search-results">
        @results.zipWithIndex.map {
            case (result, ind) => {
                @awrs_entry_compact(result, ind.toString, searchTerm.fold("")(x => x))
            }
        }
    </div>
}

@results = {
    @searchResult match {
        case Some(SearchResult(results)) if results.size > 1 => { @multiResults(results) }
        case _ => {}
    }
}

@headers = {
    @(searchTerm, searchResult)match {
        case (Some(_), _) | (_, Some(_)) => {}
        case _ => {
            <h1 class="heading-xlarge" id="search-heading">@Messages("awrs.lookup.search.heading")</h1>
            <p>@awrsLanguageSelection(clc.languageMap, clc.langToCall)</p>
            <p class="lede" id="search-lede">@Html(Messages("awrs.lookup.search.lede", awrs_urn(), isle_of_man_link()))</p>
        }
    }
}

@search_core(
    searchForm = searchForm,
    preFormContent = headers,
    postFormContent = results,
    action = action,
    title = searchTitle
)
