@import uk.gov.hmrc.awrslookup._
@import models._

@(result: models.AwrsEntry)(implicit request : Request[AnyContent], messages: Messages)

@warning(text: Html) = {
    @warning_core(text)
}

@revokedText = {
    This wholesaler has been revoked. It is important that you do not make purchases from an unapproved wholesaler. If you do you could face prosecution, be liable to a penalty, and have your alcohol stock seized. Find out more about <a href="https://www.gov.uk/government/publications/excise-notice-2002-alcohol-wholesaler-registration-scheme/excise-notice-2002-alcohol-wholesaler-registration-scheme#trade-buyers-obligations"> what to do if you find a wholesaler you’re dealing with isn’t approved.</a>
}

@deRegText = {
    This wholesaler is deregistered. It is important that you do not make purchases from an unapproved wholesaler. If you do you could face prosecution, be liable to a penalty, and have your alcohol stock seized. Find out more about <a href="https://www.gov.uk/government/publications/excise-notice-2002-alcohol-wholesaler-registration-scheme/excise-notice-2002-alcohol-wholesaler-registration-scheme#trade-buyers-obligations"> what to do if you find a wholesaler you’re dealing with isn’t approved.</a>
}


@result.status match {
    case AwrsStatus.Revoked => { @warning(revokedText) }
    case AwrsStatus.DeRegistered => { @warning(deRegText) }
    case _ => {}
}