@import uk.gov.hmrc.awrslookup._
@import views.html.helpers._
@import models._

@(result: models.AwrsEntry)(implicit request : Request[AnyContent], messages: Messages)

@warning(text: Html) = {
    <div style="margin-top : 0px; padding-top:0;padding-bottom : 125px;">
        @warning_core(text)
    </div>
}

@revokedText = {
    You must not make purchases from an unapproved wholesaler. If you do you could face prosecution, liable to a penalty, and have your alcohol stock seized. Find out about <a href="https://www.gov.uk/government/publications/excise-notice-2002-alcohol-wholesaler-registration-scheme/excise-notice-2002-alcohol-wholesaler-registration-scheme#trade-buyers-obligations"> what to do if you find a wholesaler you’re dealing with isn’t approved.</a>
}

@deRegText = {
    You must not make purchases from an unapproved wholesaler. If you do you could face prosecution, liable to a penalty, and have your alcohol stock seized. Find out about <a href="https://www.gov.uk/government/publications/excise-notice-2002-alcohol-wholesaler-registration-scheme/excise-notice-2002-alcohol-wholesaler-registration-scheme#trade-buyers-obligations"> what to do if you find a wholesaler you’re dealing with isn’t approved.</a>
}

@result.status match {
    case AwrsStatus.Revoked => {
        @warning(revokedText)
    }
    case AwrsStatus.DeRegistered => {
        @warning(deRegText)
    }
    case _ => {}
}