@import uk.gov.hmrc.awrslookup._
@import models._

@(result: models.AwrsEntry)(implicit request : Request[AnyContent], messages: Messages)

@warning(text: Html) = {
    @warning_core(text)
}

@approvedText = {
    @Messages("awrs.lookup.results.approved.warning_info") <a class="print-hidden" id="due_diligence_link" href="https://www.gov.uk/government/publications/excise-notice-2002-alcohol-wholesaler-registration-scheme/excise-notice-2002-alcohol-wholesaler-registration-scheme#excise-due-diligence">@Messages("awrs.lookup.results.approved.due_diligence")</a>. @Messages("awrs.lookup.results.approved.warning_info2")
}

@result.status match {
    case AwrsStatus.Approved => { @warning(approvedText) }
    case _ => {}
}