@import uk.gov.hmrc.awrslookup._
@import models._

@(result: models.AwrsEntry)(implicit request : Request[AnyContent], messages: Messages)

@warning(text: Html) = {
    @warning_core(text)
}

@approvedText = {
    @Messages("awrs.lookup.results.approved.warning_info")
        <a id="due_diligence_link"
           data-journey-click="Results page:link - click:additional checks as a trade buyer"
           href="https://www.gov.uk/government/publications/excise-notice-2002-alcohol-wholesaler-registration-scheme/excise-notice-2002-alcohol-wholesaler-registration-scheme#trade-buyers-obligations">@Messages("awrs.lookup.results.approved.warning_info2")
        </a>.
}

@result.status match {
    case AwrsStatus.Approved => { @warning(approvedText) }
    case _ => {}
}