@import play.api.Application

@(title: String,
  sidebarLinks: Option[Html] = None,
  contentHeader: Option[Html] = None,
  bodyClasses: Option[String] = None,
  mainClass: Option[String] = None,
  scriptElem: Option[Html] = None)(mainContent: Html)(implicit request : Request[_], messages: Messages, application: Application, lang: Lang)

@import uk.gov.hmrc.play.views.html.layouts

@linkElement = {
    <link rel="stylesheet" href=@routes.Assets.at("stylesheets/custom.css")>
    <link rel="stylesheet" href=@routes.Assets.at("stylesheets/urBanner.css")>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/jquery-3.2.1.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/urBannerClose.js")'></script>
}

@serviceInfoContent = {}

@sidebar = {
    @if(sidebarLinks.isDefined) {
        @layouts.sidebar(sidebarLinks.get, Some("sidebar"))
    }
}


@govuk_wrapper(appConfig = uk.gov.hmrc.awrslookup.FrontendAppConfig,
               title = title,
               mainClass = mainClass,
               bodyClasses = bodyClasses,
               sidebar = sidebar,
               contentHeader = contentHeader,
               linkElement = Some(linkElement),
               mainContent = layouts.article(mainContent),
               serviceInfoContent = serviceInfoContent,
               scriptElem = scriptElem
)
