@import uk.gov.hmrc.awrslookup._
@import forms.validation.util._
@import views.html.helpers._

@(
  field: Field,
  parentForm: Option[Form[_]] = None,
  inputId: Option[String] = None,
  inputClass: Option[String] = None,
  divClass: Option[String] = None,
  labelClass: Option[String] = None,
  label: Option[String] = None,
  labelDataAttributes: Option[String] = None,
  wrapperClass: Option[String] = None,
  labelHighlight: Boolean = false,
  required: Boolean = false,
  formHint: Option[String] = None,
  formHintId: Option[String] = None,
  maxLength: Option[Int] = None,
  dataAttributes: Option[String] = None,
  isPostCode: Boolean = false,
  postCodeLookupAddressNumber: Option[String] = None,
  additionalHiddenLabelText: Option[String] = None,
  preInputContent: Option[Html] = None,
  postInputContent: Option[Html] = None
)(implicit lang: play.api.i18n.Lang, messages: Messages)

@fieldErrors = @{
    parentForm match {
        case Some(parentForm) => ErrorMessageInterpreter.getFieldErrors(field, parentForm)
        case None => ErrorMessageInterpreter.getFieldErrors(field)
    }
}
@number = @{postCodeLookupAddressNumber.fold("0")(x => x)}
@value = @{
    field.value match {
        case Some(x) => x
        case None => ""
        case x => x
    }
}
@wrapperClassStr = @{
    wrapperClass match {
        case Some(wrapperClass) => wrapperClass
        case _ => ""
    }
}
@formHintStr = {
    @formHint match {
        case Some(formHint) => {<span @if(formHintId.nonEmpty){id="@formHintId"} class="form-hint">@formHint</span>}
        case _ => {}
    }
}
@inputIdStr = @{
    inputId match {
        case Some(inputId) => inputId
        case _ => field.name.replaceAll("""[\.\[\]]""", "-")
    }
}
@inputClassStr = @{
    inputClass match {
        case Some(inputClass) => inputClass
        case _ => ""
    }
}
@maxLengthValue = @{
    maxLength match {
        case Some(maxLength) => s"maxlength=$maxLength"
        case _ => ""
    }
}
@dataAttributesStr = @{
    dataAttributes match {
        case Some(dataAttributes) => dataAttributes
        case _ => ""
    }
}
@requiredStr = @{
    required match {
        case true => {"aria-required=true"}
        case false => {"aria-required=false"}
    }
}
@labelClassStr = @{
    Html((divClass.fold("")(x => x), labelClass.fold("")(x => x)) match {
        case ("", "") => ""
        case (divClass, "") => "class=\""+divClass+"\""
        case ("", labelClass) => "class=\""+labelClass+"\""
        case (divClass, labelClass) => "class=\""+labelClass+" "+divClass+"\""
    })
}
@divClassStr = @{
    divClass match {
        case Some(cls) => cls
        case _ => ""
    }
}
@labelDataAttributesStr = @{
    labelDataAttributes match {
        case Some(labelDataAttributes) => labelDataAttributes
        case _ => ""
    }
}
@labelText = {
    @label match {
        case Some(label) => {
            @Html(
                labelHighlight match {
                    case true => s"<strong>$label</strong>"
                    case false => label
                }
            )
        }
        case _ => {}
    }
}

@additionalHiddenLabel = {
    @additionalHiddenLabelText match {
        case Some(text) => {<span class="visuallyhidden">@text</span>}
        case None => {}
    }
}
<div class="form-field @if(fieldErrors.nonEmpty) {form-field--error} @wrapperClassStr @divClassStr">
    @preInputContent
    <label for="@inputIdStr" id="@{inputIdStr}_field" @labelClassStr @labelDataAttributesStr>@labelText@additionalHiddenLabel</label>
    @formHintStr
    @commonHelper(field, fieldErrors)
    <input type="text"
           class="form-control @inputClassStr"
           name="@field.name"
           id="@inputIdStr"
           value="@value"
           @maxLengthValue
           @dataAttributesStr
           @requiredStr
           @if(fieldErrors.nonEmpty){
               aria-labelledby="@{field.name}-error-0"
           }
    >
    @postInputContent
</div>
