@import uk.gov.hmrc.awrslookup._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._

@(searchForm : Form[models.Query], preFormContent: Option[Html], postFormContent: Option[Html] = None)(implicit request : Request[AnyContent], messages: Messages)

@searchbar = {
    <div class="search">
        <div class="form-group">
            @awrsInputTypeText(
                field = searchForm("query"),
                parentForm = searchForm,
                maxLength = 100,
                postInputContent = awrsSubmitButton("Search")(id = "search", classAttr = None)
            )
        </div>
    </div>
}

@views.html.main_template(title = Messages("awrs.lookup.search.page_title"), bodyClasses = None) {
    @errorSummaryTemplate(searchForm)
    <div class="grid">
        @preFormContent
        @form(action = controllers.routes.LookupController.show) {
            @searchbar
        }
        @postFormContent
    </div>
}